@use "./variables" as *;
@use "./mixins/mixins";

body {
  .header {
    .header__logo {
      @include mixins.logoStyling;
    }
    .header__reset {
      @include mixins.buttonStyling;
    }
    .header__reset:hover {
      @include mixins.buttonHoverStyling;
      cursor: pointer;
    }
  }

  .main {
    .main__welcome {
      @include mixins.headerStyling;
    }
    .main__input {
      @include mixins.inputStyling;
    }
    .main__submit-name,
    .main__submit-task {
      @include mixins.buttonStyling;
      margin: $margin 0;
    }
    .main__submit-name:hover,
    .main__submit-task:hover {
      cursor: pointer;
    }

    .main__intro {
      @include mixins.mainText;
    }

    .main__task-container {
      text-align: left;
      margin: $margin;
      width: 100%;
      max-width: 500px;

      .task-container__tasks-completed {
        color: $slate-grey;
      }

      .task-container__task {
        @include mixins.task;
      }
    }
  }
}
