@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap");

// font
$font: "Jost", sans-serif;

// font styles
$header-size: 48px;
$header-weight: 600;
$logo-size: 24px;
$logo-weight: medium;
$paragraph-size: 16px;
$paragraph-weight: normal;
$input-size: 16px;
$input-weight: medium;
$buttons-size: 16px;
$buttons-weight: bold;

// colours
$space-black: #232229;
$deep-navy: #2b2a33;
$slate-grey: #6c6a7c;
$white: #ffffff;
$coral: #e58181;

// Margins and Paddings
$body-padding-top-mobile: 22px;
$body-padding-sides-mobile: 28px;
$input-padding: 18px;
